html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.none {
  display: none; }

.row {
  width: 365px;
  height: 18px;
  line-height: 18px; }

.row .rowTitle {
  width: auto;
  margin-right: 5px;
  font-weight: bold;
  float: left; }

.row .rowDots {
  width: auto;
  overflow: hidden;
  float: left; }

.row .rowValue {
  width: auto;
  margin-left: 10px;
  float: right;
  text-align: right; }

table th.name {
  background: #f3f3f3;
  font-weight: bold;
  border-bottom: 1px solid #b8b8b8; }
table tr.odd {
  background: #e7f1fb; }
table td.name {
  font-weight: bold; }
table td.email {
  margin-top: 7px; }
  table td.email a {
    color: #396498; }

.top-radial-gradient-bg {
  background: none repeat scroll 0 0 #5C6164;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 -38px 175px #5b646b;
  -moz-box-shadow: 0 -38px 175px #5b646b;
  box-shadow: 0 -38px 175px #5b646b;
  height: 350px;
  left: 0;
  position: absolute;
  width: 406px; }

.bottom-radial-gradient-bg {
  background: none repeat scroll 0 0 #5C6164;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 38px 175px #5b646b;
  -moz-box-shadow: 0 38px 175px #5b646b;
  box-shadow: 0 38px 175px #5b646b;
  height: 320px;
  left: 0;
  position: relative;
  width: 320px; }

body {
  background: url(../images/background-img.png);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  box-shadow: inset 0 0 75px #202427;
  -moz-box-shadow: inset 0 0 75px #202427;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); }
  body #container {
    height: 100%; }
    body #container #myAccount {
      margin-top: 50px;
      width: 405px;
      border: 1px solid #686868;
      font: 11px "HelveticaNeue-Light", "Helvetica Neue Light", helvetica, arial, sans-serif;
      color: #212222;
      background: #e0e1e4;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px; }
      body #container #myAccount .title {
        border-top-right-radius: 4px;
        -moz-border-top-right-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        -moz-border-top-left-radius: 4px;
        -webkit-border-top-left-radius: 4px;
        background: white;
        background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d7d7d7));
        background: -moz-linear-gradient(-90deg, white, #d7d7d7);
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        font-weight: bold;
        color: #212222;
        text-align: center;
        border-bottom: 1px solid #939393; }
      body #container #myAccount .content {
        padding: 15px;
        border-bottom-right-radius: 4px;
        -moz-border-bottom-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        -moz-border-bottom-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px; }
        body #container #myAccount .content .director {
          float: left;
          margin-bottom: 15px;
          background: #f5f6f5;
          width: 175px;
          border: 1px solid #939393;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px; }
          body #container #myAccount .content .director .inner-table-title {
            border-top-right-radius: 4px;
            -moz-border-top-right-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            -moz-border-top-left-radius: 4px;
            -webkit-border-top-left-radius: 4px;
            background: white;
            background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d7d7d7));
            background: -moz-linear-gradient(-90deg, white, #d7d7d7);
            height: 24px;
            line-height: 24px;
            font-size: 11px;
            font-weight: bold;
            color: #212222;
            text-align: left;
            border-bottom: 1px solid #939393;
            padding-left: 7px; }
          body #container #myAccount .content .director .inner-table-content {
            border-bottom-right-radius: 4px;
            -moz-border-bottom-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            padding: 5px 7px 16px;
            float: left; }
        body #container #myAccount .content .rep {
          float: right;
          margin-bottom: 15px;
          background: #f5f6f5;
          width: 175px;
          border: 1px solid #939393;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px; }
          body #container #myAccount .content .rep .inner-table-title {
            border-top-right-radius: 4px;
            -moz-border-top-right-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            -moz-border-top-left-radius: 4px;
            -webkit-border-top-left-radius: 4px;
            background: white;
            background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d7d7d7));
            background: -moz-linear-gradient(-90deg, white, #d7d7d7);
            height: 24px;
            line-height: 24px;
            font-size: 11px;
            font-weight: bold;
            color: #212222;
            text-align: left;
            border-bottom: 1px solid #939393;
            padding-left: 7px; }
          body #container #myAccount .content .rep .inner-table-content {
            border-bottom-right-radius: 4px;
            -moz-border-bottom-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            padding: 5px 7px 16px;
            float: left; }
        body #container #myAccount .content .contacts {
          background: #f5f6f5;
          width: 375px;
          border: 1px solid #939393;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px; }
          body #container #myAccount .content .contacts .inner-table-title {
            border-top-right-radius: 4px;
            -moz-border-top-right-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            -moz-border-top-left-radius: 4px;
            -webkit-border-top-left-radius: 4px;
            background: white;
            background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d7d7d7));
            background: -moz-linear-gradient(-90deg, white, #d7d7d7);
            height: 24px;
            line-height: 24px;
            font-size: 11px;
            font-weight: bold;
            color: #212222;
            text-align: left;
            border-bottom: 1px solid #939393;
            padding-left: 7px; }
          body #container #myAccount .content .contacts .inner-table-content {
            border-bottom-right-radius: 4px;
            -moz-border-bottom-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            padding: 5px;
            float: none; }
        body #container #myAccount .content .products {
          margin-top: 15px;
          background: #f5f6f5;
          width: 375px;
          border: 1px solid #939393;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px; }
          body #container #myAccount .content .products .inner-table-title {
            border-top-right-radius: 4px;
            -moz-border-top-right-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            -moz-border-top-left-radius: 4px;
            -webkit-border-top-left-radius: 4px;
            background: white;
            background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d7d7d7));
            background: -moz-linear-gradient(-90deg, white, #d7d7d7);
            height: 24px;
            line-height: 24px;
            font-size: 11px;
            font-weight: bold;
            color: #212222;
            text-align: left;
            border-bottom: 1px solid #939393;
            padding-left: 7px; }
          body #container #myAccount .content .products #products-header.inner-table-content {
            border-bottom-right-radius: 4px;
            -moz-border-bottom-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            padding: 0;
            float: none; }
          body #container #myAccount .content .products #products-content.inner-table-content {
            border-bottom-right-radius: 4px;
            -moz-border-bottom-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            padding: 0 0 7px 0;
            float: none; }
    body #container #bottom {
      position: relative;
      z-index: 0;
      width: 409px; }
