html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
  
a{
  text-decoration: none;
}

$bodyBkgdImg: url(../images/background-img.png);

$titleBarGradientFromColor: #fff;
$titleBarGradientToColor: #d7d7d7;

$myAccountFont: "HelveticaNeue-Light","Helvetica Neue Light",helvetica,arial,sans-serif;
$myAccountFontSize: 11px;
$myAccountColor: #212222;
$myAccountBorderColor: #323435;
$myAccountInnerBorderColor: #9a9a9a;
$myAccountBackgroundColor: #e0e1e4;
$myAccountBorderRadius: 3px;

$mainTitleHeight: 40px;
$mainTitleLineHeight: 40px;
$mainTitleFontSize: 13px;
$mainTitleColor: #212222;

$mainContentPadding: 15px;

$tableTitleHeight: 24px;
$tableTitleLineHeight: 24px;
$smallTableWidth: 175px;
$bigTableWidth: 375px;
$innerTableRadius: 3px;

$innerTableBackgroundColor: #f5f6f5;
$innerTitleFontSize: 11px;

@mixin tableHeaderBackground($fromColor, $toColor) {
  background: $titleBarGradientFromColor;
  background: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor));
  background: -moz-linear-gradient(-90deg, $fromColor, $toColor);
}

@mixin tableTitle($height, $line-height, $font-size, $font-weight, $color, $text-align, $border-bottom) {
  height: $height;
  line-height: $line-height;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  text-align: $text-align;
  border-bottom: 1px solid $border-bottom;
}

@mixin table($width, $borderColor) {
  width: $width;
  border: 1px solid $borderColor;
}

@mixin borderRadius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin borderTableTopRadius($topRadius) {
  border-top-right-radius: $topRadius;
  -moz-border-top-right-radius: $topRadius;
  -webkit-border-top-right-radius: $topRadius;
  border-top-left-radius: $topRadius;
  -moz-border-top-left-radius: $topRadius;
  -webkit-border-top-left-radius: $topRadius;
}

@mixin borderTableBottomRadius($bottomRadius) {
  border-bottom-right-radius: $bottomRadius;
  -moz-border-bottom-right-radius: $bottomRadius;
  -webkit-border-bottom-right-radius: $bottomRadius;
  border-bottom-left-radius: $bottomRadius;
  -moz-border-bottom-left-radius: $bottomRadius;
  -webkit-border-bottom-left-radius: $bottomRadius;
}

@mixin innerTableTitle($padding-left) {
  @include borderTableTopRadius($innerTableRadius);
  @include tableHeaderBackground($titleBarGradientFromColor, $titleBarGradientToColor);
  @include tableTitle($tableTitleHeight, $tableTitleLineHeight, $innerTitleFontSize, bold, $myAccountColor, left, $myAccountInnerBorderColor);
  padding-left: $padding-left;
}

@mixin innerTableContent($borderTableBottomRadius, $padding, $float) {
  @include borderTableBottomRadius($borderTableBottomRadius);
  padding: $padding;
  float: $float;
}

.none{
  display: none;
}

.row{
  width: 365px; 
  height: 18px; 
  line-height: 18px;
}

.row .rowTitle{
  width: auto; 
  margin-right: 5px; 
  font-weight: bold; 
  float: left;
}

.row .rowDots{
  width: auto; 
  overflow: hidden; 
  float: left;
}

.row .rowValue{
  width: auto; 
  margin-left: 10px; 
  float: right; 
  text-align: right;
}

table{
  tr{
  
  }
  
  th{
    &.name{
      background: #f3f3f3;
      font-weight: bold;
      border-bottom: 1px solid #b8b8b8;
    }  
  }
  
  tr{
    
    &.odd{
      background: #e7f1fb;
    }
  }
  
  td{
    &.name{ 
      font-weight: bold;
    }
    &.email{ 
      margin-top: 7px;
      a{
        color: #396498;
      }
    }
  }
}

.top-radial-gradient-bg {
  background: none repeat scroll 0 0 #5C6164;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 -38px 175px #5b646b;
  -moz-box-shadow: 0 -38px 175px #5b646b;
  box-shadow: 0 -38px 175px #5b646b;
  height: 350px;
  left: 0;
  position: absolute;
  width: 406px;
}

.bottom-radial-gradient-bg {
  background: none repeat scroll 0 0 #5C6164;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 38px 175px #5b646b;
  -moz-box-shadow: 0 38px 175px #5b646b;
  box-shadow: 0 38px 175px #5b646b;
  height: 320px;
  left: 0;
  position: relative;
  width: 320px;
}

body{
  background: $bodyBkgdImg;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y:hidden;
  box-shadow:inset 0 0 75px #202427;
  -moz-box-shadow:inset 0 0 75px #202427;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
  
  #container{
    height: 100%;
    
    #myAccount{
      margin-top: 50px;
      width: 405px;
      border: 1px solid $myAccountBorderColor;
      font: $myAccountFontSize $myAccountFont;
      color: $myAccountColor;
      background: $myAccountBackgroundColor;
      @include borderRadius($myAccountBorderRadius);
      -moz-box-shadow:    0 0 25px 0 #21222b;
      -webkit-box-shadow: 0 0 25px 0 #21222b;
      box-shadow:         0 0 25px 0 #21222b;

      .title{
        @include borderTableTopRadius($myAccountBorderRadius);
        @include tableHeaderBackground($titleBarGradientFromColor, $titleBarGradientToColor);
        @include tableTitle($mainTitleHeight, $mainTitleLineHeight, $mainTitleFontSize, bold, $mainTitleColor, center, $myAccountInnerBorderColor);
        border-bottom: 1px solid #fff;
      }

      .content{
        padding: $mainContentPadding;
        @include borderTableBottomRadius($myAccountBorderRadius);
        border-top: 1px solid #9A9A9A;
        border-left: 1px solid #EBEBEC;
        border-right: 1px solid #EBEBEC;
        border-bottom: 1px solid #EBEBEC;

        .director{
          float: left;
          margin-bottom: 15px;
          background: $innerTableBackgroundColor;
          @include table($smallTableWidth, $myAccountInnerBorderColor);
          @include borderRadius($innerTableRadius);

          .inner-table-title{
            @include innerTableTitle(7px);
          }

          .inner-table-content{
            @include innerTableContent($innerTableRadius, 5px 7px 16px, left);
          }
        }

        .rep{
          float: right;
          margin-bottom: 15px;
          background: $innerTableBackgroundColor;
          @include table($smallTableWidth, $myAccountInnerBorderColor);
          @include borderRadius($innerTableRadius);

          .inner-table-title{
            @include innerTableTitle(7px);
          }

          .inner-table-content{
            @include innerTableContent($innerTableRadius, 5px 7px 16px, left);
          }
        }

        .contacts{
          background: $innerTableBackgroundColor;
          @include table($bigTableWidth, $myAccountInnerBorderColor);
          @include borderRadius($innerTableRadius);

          .inner-table-title{
            @include innerTableTitle(7px);
          }

          .inner-table-content{
            @include innerTableContent($innerTableRadius, 5px, none);
          }
        }

        .products{
          margin-top: 15px;
          background: $innerTableBackgroundColor;
          @include table($bigTableWidth, $myAccountInnerBorderColor);
          @include borderRadius($innerTableRadius);

          .inner-table-title{
            @include innerTableTitle(7px);
          }

          #products-header.inner-table-content{
            @include innerTableContent($innerTableRadius, 0, none);
          }
          #products-content.inner-table-content{
            @include innerTableContent($innerTableRadius, 0 0 7px 0, none);
          }
        }
      }
    }
    
    #bottom{
      position: relative; 
      z-index: 0; 
      width: 409px;
    }
  }
}













